.App {
  text-align: center !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #222;
}

.App-intro {
  font-size: large;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.InstallButton {
  background: #073763;
  background: -webkit-linear-gradient(#3d85c6, #073763 50%, #3d85c6);
  background: linear-gradient(#3d85c6, #073763 50%, #3d85c6);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal 700 15px/1 "Ubuntu", sans-serif;
  text-align: center;
  text-shadow: 0px 0px #ffff00;
}

.StopButton {
  background: #cc0000;
  background: -webkit-linear-gradient(#ff0000, #cc0000 50%, #ff0000);
  background: linear-gradient(#ff0000, #cc0000 50%, #ff0000);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal 700 15px/1 "Ubuntu", sans-serif;
  text-align: center;
  text-shadow: 0px 0px #ffff00;
}

.StartButton {
  background: #38761d;
  background: -webkit-linear-gradient(#6aa84f, #38761d 50%, #6aa84f);
  background: linear-gradient(#6aa84f, #38761d 50%, #6aa84f);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal 700 15px/1 "Ubuntu", sans-serif;
  text-align: center;
  text-shadow: 0px 0px #ffff00;
}
